<section class="container-about">
    <div class="container-dimensions container-position">
        <div class="detail-content">
            <h2>Sobre nosotros</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse voluptatum illo tempore totam, modi eum? Architecto cupiditate reiciendis excepturi id enim deleniti perspiciatis aspernatur maxime porro, repudiandae recusandae incidunt velit.
                Nihil, accusantium culpa enim vitae quaerat sunt corporis fuga velit optio impedit hic pariatur distinctio sed reiciendis. Sequi labore soluta, maiores illum, enim nostrum officiis laudantium corporis, nesciunt laborum vitae!
            </p>
        </div>
    </div>
</section>