<section class="container-dimensions">
    <h2 class="text-center">Nuestro Blog</h2>
    <div class="container-blog">
        <div class="blog">
            <article class="entry">
                <header>
                    <h2>Guía de Colores</h2>
                    <div class="image">
                        <img src="../../../../assets/img/nosotros.jpg" alt="Blog image">
                    </div>
                    <div class="meta-entry">
                        <p>Fecha: <span>29 de Agosto de 2023</span></p>
                        <p>Escrito por: <span>Tiendas muebles</span></p>
                    </div>
                    <div class="blog-entry">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta deleniti quidem tenetur. Velit mollitia, provident sed modi quibusdam rem, sunt repudiandae quas consequatur atque dolor, quisquam dolorum neque? Quo, libero?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta deleniti quidem tenetur. Velit mollitia, provident sed modi quibusdam rem, sunt repudiandae quas consequatur atque dolor, quisquam dolorum neque? Quo, libero?
                        </p>
                    </div>
                    <a routerLink="/home/blog-detail" class="btn max-width-30">Leer</a>
                </header>
            </article>
            <article class="entry">
                <header>
                    <h2>Guía de Colores</h2>
                    <div class="image">
                        <img src="../../../../assets/img/nosotros.jpg" alt="Blog image">
                    </div>
                    <div class="meta-entry">
                        <p>Fecha: <span>29 de Agosto de 2023</span></p>
                        <p>Escrito por: <span>Tiendas muebles</span></p>
                    </div>
                    <div class="blog-entry">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta deleniti quidem tenetur. Velit mollitia, provident sed modi quibusdam rem, sunt repudiandae quas consequatur atque dolor, quisquam dolorum neque? Quo, libero?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta deleniti quidem tenetur. Velit mollitia, provident sed modi quibusdam rem, sunt repudiandae quas consequatur atque dolor, quisquam dolorum neque? Quo, libero?
                        </p>
                    </div>
                    <a routerLink="/home/blog-detail" class="btn max-width-30">Leer</a>
                </header>
            </article>
        </div>
        <!-- Barra Lateral -->
        <aside>
            <h3>Otras Entradas de BLog</h3>
            <ul>
                <li>
                    <a routerLink="/home/blog-detail">Guía de Colores</a>
                </li>
                <li>
                    <a routerLink="/home/blog-detail">Nuevos Modelos</a>
                </li>
                <li>
                    <a routerLink="/home/blog-detail">Guía para diseño de Interiores</a>
                </li>
                <li>
                    <a routerLink="/home/blog-detail">Guía para diseño de Exteriores</a>
                </li>
            </ul>
        </aside>
    </div>
</section>
<router-outlet></router-outlet>


