.container-blog {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}
.entry{
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}
// Eliminamos el ultimo borde
.entry:last-of-type {
    border: none;
}
.meta-entry {
    display: flex;
    justify-content: space-between;
}
.meta-entry p {
    font-weight: bold;
}
.meta-entry span {
    color: #037bc0;
}