<footer class="container-footer">
    <div class="grid-footer container-dimensions">
                <!-- Seccion de footer -->
        <div>
            <h3> Categorías </h3>
            <nav class="nav-item">
                <a routerLink="">Cocina</a>
                <a routerLink="">Oficina</a>
                <a routerLink="">Jardin</a>
                <a routerLink="">Cochera</a>
                <a routerLink="">Dormitorios</a>
            </nav>
        </div>

        <!-- Seccion de footer -->
        <div>
            <h3> Sobre nosotros </h3>
            <nav class="nav-item">
                <a routerLink="">Nuestra Historia</a>
                <a routerLink="">Misión, Visión, Valores</a>
                <a routerLink="">Carreras</a>
                <a routerLink="">Política de Privacidad</a>
                <a routerLink="">Términos del servicio</a>
            </nav>
        </div>

        <!-- Seccion de footer -->
        <div>
            <h3> Soporte </h3>
            <nav class="nav-item">
                <a routerLink="">Preguntas frecuentes</a>
                <a routerLink="">Ayuda en LÍnea</a>
                <a routerLink="">Confianza y seguridad</a>
            </nav>
        </div>
    </div>
    <p class="text-center copyright">Todos los derechos reservados, Tienda muebles</p>
</footer>
