<section class="container-dimensions">
    <h2 class="text-center">Nuestro Blog</h2>
    <div class="container-blog">
        <div class="blog">
            <article class="entry container-entry-blog">
                <header>
                    <div class="image">
                        <img src="../../../../assets/img/nosotros.jpg" alt="Blog image">
                    </div>
                    <div class="meta-entry">
                        <p>Fecha: <span>29 de Agosto de 2023</span></p>
                        <p>Escrito por: <span>Tiendas muebles</span></p>
                    </div>
                    <div class="blog-entry">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta deleniti quidem tenetur. Velit mollitia, provident sed modi quibusdam rem, sunt repudiandae quas consequatur atque dolor, quisquam dolorum neque? Quo, libero?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta deleniti quidem tenetur. Velit mollitia, provident sed modi quibusdam rem, sunt repudiandae quas consequatur atque dolor, quisquam dolorum neque? Quo, libero?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta deleniti quidem tenetur. Velit mollitia, provident sed modi quibusdam rem, sunt repudiandae quas consequatur atque dolor, quisquam dolorum neque? Quo, libero?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta deleniti quidem tenetur. Velit mollitia, provident sed modi quibusdam rem, sunt repudiandae quas consequatur atque dolor, quisquam dolorum neque? Quo, libero?
                        </p>
                    </div>
                </header>
            </article>
        </div>
    </div>
</section>
<router-outlet></router-outlet>



